pre.prettyprint {
  border: none !important;
  border-top: solid 1px $color-gray-lighter !important;
  font-size: 1.125rem;
  padding: 1.5rem !important;
  &.css {
    position: relative;
    &::before {
      content: "CSS";
      background-color: $color-gray;
      color: #ffffff;
      padding: 0.25em 0 0.15em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }
  }
}

code.prettyprint {
  border: none !important;
  font-size: 1.125rem;
  padding: 1.5rem !important;
  &.css {
    position: relative;
    &::before {
      content: "CSS";
      background-color: $color-gray;
      color: #ffffff;
      padding: 0.25em 0 0.15em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }
  }
}