pre.prettyprint {
  border: none !important;
  border-top: solid 1px $color-gray-lighter !important;
  font-size: 1.125rem;
  overflow: scroll;
  padding: 1.5rem !important;
  @media (prefers-color-scheme:dark) {
    border-top: solid 1px $color-gray-dark !important;
    .pln {
      color: #ffffff;
    }
    .pun {
      color: $color-gray-lighter;
    }
    .lit {
      color: #65B042;
    }
  }
  &.css {
    position: relative;
    background: rgb(228,228,228);
    background: radial-gradient(ellipse at top left, rgba($color-gray-lighter,1) 0%, rgba(255,255,255,1) 70%);
    @media (prefers-color-scheme:dark) {
      background: radial-gradient(ellipse at top left, rgba($color-gray-dark,1) 0%, rgba($color-gray-darker,1) 70%);
    }
    &::before {
      content: "CSS";
      background-color: $color-gray;
      color: #ffffff;
      padding: 0.25em 0 0.15em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }
    &::after {
      content: " ";
      //background-color: $color-gray;
      //background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 2rem;
    }
  }
}

code.prettyprint {
  border: none !important;
  font-size: 1.125rem;
  padding: 1.5rem !important;
  &.css {
    position: relative;
    &::before {
      content: "CSS";
      background-color: $color-gray;
      color: #ffffff;
      padding: 0.25em 0 0.15em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }
  }
}