pre.css {
  border: none !important;
  border-top: solid 1px $color-blue-50 !important;
  overflow: hidden;
  padding: 0 0 1.5rem 1.5rem !important;
  @media (prefers-color-scheme:dark) {
    border-top: solid 1px $color-gray-700 !important;
  }
  position: relative;
  background: rgb(228,228,228);
  background: radial-gradient(ellipse at top left, rgba($color-gray-100,1) 0%, rgba(255,255,255,1) 70%);
  @media (prefers-color-scheme:dark) {
    background: radial-gradient(ellipse at top left, rgba($color-gray-800,1) 0%, rgba($color-gray-800,1) 70%);
  }
  &::before {
    content: "CSS";
    background-color: $color-gray-700;
    color: #ffffff;
    font-size: 1.125rem;
    padding: 0.25em 0 0.15em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
  &::after {
    content: " ";
    background-color: $color-gray-800;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2rem;
  }

}

code.prettyprint {
  background-color: transparent;
  border: none !important;
  display: block;
  font-size: 1.125rem;
  line-height: 1.5;
  overflow: scroll;
  padding: 0 !important;
}

.prettyprint {
  .pln {
    //color: #ffffff;
  }
  .str {
    color: #060;
  }
  .lit {
    color: #055;
  }
  .clo,
  .opn,
  .pun {
    color: #550;
  }
}