// Text styles
// =============================================================================


/* text-size proportional spacer */
:root {
  --body-text-spacer: 1rem;
  @media screen and (min-width: $bp--medium) {
    --body-text-spacer: 1.125rem;
  }  
  @media screen and (min-width: $bp--xxlarge) {
    --body-text-spacer: 1.25rem;
  }  
}

html {
  background-color: #ffffff;
  color: $color-text;
  font-size: 100%;
}

body {
  font-family: $sans-serif-novf;
  @supports (font-variation-settings: normal) {
    font-family: $sans-serif;
  }
}