---

layout: beatrice_page
home: true
design-classes:
- full-width
---

<div class="home-grid">
  <div class="home-grid__hero">
      {% include beatrice/02-molecules/10-hero-animation/hero-animation.html 
      %}    
  </div>
  <div class="home-grid__title">
      <h1>A Variable Fonts Primer</h1>
      <h2>Discover a revolution in type</h2>      
  </div>
  <div class="home-grid__intro">
      <p class="lede">Welcome to the most radical change in type since Gutenberg. Variable fonts let you add nuance and artistry to your web typography without bogging down your site. Now you can accomplish what used to require several files with a single file and some CSS!</p> 
      <p>The goal of this site is to show you how variable fonts tick. Discover how they can benefit user interface (UI) design, accessibility, and long-form reading, and how they push the boundaries of skillful typographic expression on the web.</p>
  </div>
  <div class="home-grid__cards">
      {% assign cardlink1 = site.baseurl | append: '/about-variable-fonts' %}
      {% include beatrice/02-molecules/03-card/card.html 
        card_style = 'outline'
        primary_link_url = cardlink1
        heading_level = 3
        title = 'Designing with Variable Fonts'
        body = 'Learn about the variable font format, how it works, and how to design with this flexible new technology'
      %}
      {% assign cardlink2 = site.baseurl | append: '/implementing-variable-fonts' %}
      {% include beatrice/02-molecules/03-card/card.html 
        card_style = 'outline'
        primary_link_url = cardlink2
        heading_level = 3
        title = 'Implementing Variable Fonts'
        body = 'Learn how to incorporate variable fonts into your project, either by using the Google Fonts platform or by hosting them yourself'
      %}
      {% assign cardlink3 = site.baseurl | append: '/variable-font-resources' %}
      {% include beatrice/02-molecules/03-card/card.html 
        card_style = 'outline'
        primary_link_url = cardlink3
        heading_level = 3
        title = 'Variable Font Resources'
        body = 'Links to articles, videos, demos, and sources'
      %}
                  
  </div>
</div>

