<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/03-organisms/10-embeds/axis-component.css" />
<style>
  .range__axis.range__axis--slant-italics {
    --text-vf-wght: 400;
    --text-vf-wdth: 95;
    --current-value: var(--slant-ital-text-vf-slnt);
    --current-value2: var(--slant-ital-text-vf-ital);
  }
  .range__axis.range__axis--slant-italics .paragraph .text {
    font-family: "Recursive", sans-serif;
    font-size: calc( 2.25vw + 1rem );
    font-variation-settings: 'slnt' calc( var(--slant-ital-text-vf-slnt) * -1), 'ital' var(--slant-ital-text-vf-ital);
  }
  .range__axis.range__axis--slant-italics code.prettyprint {
    font-size: 0.825rem;
  }
</style>

<div class="container range__axis range__axis--slant-italics mdc-card">
  <div class="range__axis__label">
    <p>Slant & Italic</p>
  </div>
  <div class="paragraph">
    <div class="text">Style & Grace</div>
  </div>
  {% include beatrice/02-molecules/09-slider-group/slider-group.html 
    keyword = 'slnt'
    style = 'wide'
    id = 'slant-ital-text-vf-slnt'
    min = '0'
    max = '10'
    now = '7'
    step = '1'
  %}
  {% include beatrice/02-molecules/09-slider-group/slider-group.html 
    keyword = 'ital'
    style = 'wide'
    id = 'slant-ital-text-vf-ital'
    min = '0'
    max = '1'
    now = '0'
    step = '1'
  %}
  <div class="code dark">
    <code class="prettyprint">
      .text { <br />
      &nbsp;&nbsp;  font-variation-settings: 'slnt' <span class="current-value"></span>, 'ital' <span class="current-value2"></span>; <br />
      }
    </code>
  </div>
</div>

<figcaption>
  Featuring <a href="https://recursive.design">Recursive</a>
</figcaption>
