.embed-frame {
  background-color: $color-gray-lightest;
  background: radial-gradient(ellipse at bottom right, rgba(238,238,238,1) 0%, rgba(248,248,248,1) 70%);
  + .embed-frame {
    margin-top: 2rem;
  }
}
