.embed-frame {
  background-color: $color-gray-lightest;
  background: radial-gradient(ellipse at bottom right, $color-callout-highlight 0%, $color-callout-highlight-secondary 70%);
  + .embed-frame {
    margin-top: 2rem;
  }
}
