

.vf-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $bp--large) {
    height: 100%;
    margin: 0;
    padding-right: 1.5rem;
  }
  .menu {
    list-style: none;
    margin: 2rem 1rem;
    padding: 0;
    @media (min-width: $bp--large) {
      height: 100%;
      margin: 0;
    }
  }
  &-item {
    border-bottom: solid 1px $color-gray-400;
    display: block;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    @media (min-width: $bp--large) {
      border-bottom: none;
      display: inline-block;
      height: 100%;
      margin-bottom: 0;
      padding-bottom: 0;;
    }

  }
  a {
    display: block;
    font-size: 1.5rem;
    font-weight: 450;
    font-stretch: 60%;
    line-height: 1.25;
    padding: 0.15rem 0.5rem 0.2rem;
    @media (min-width: $bp--large) {
      display: flex;
      font-size: 1rem;
      line-height: 2rem;
      height: 100%;
      align-items: center;
    }
    &:link,
    &:visited {
      --color-text-link: var(--color-text);
      --color-text-link-visited: var(--color-text);
      text-decoration: none;
      &.active {
        --color-text-link: var(--color-text-link-active-trail);
        --color-text-link-visited: var(--color-text-link-active-trail);
        font-weight: 525;
      }
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}