{% assign classNameBase = include.classNameBase | default: 'mdc-list' %}
{% assign ariaHidden = include.ariaHidden | default: false %}

{% if site.data.navigation and site.data.navigation|size >= 1 %}
<nav class="{{ classNameBase }}" {% if ariaHidden %}aria-hidden{% endif %}>
  {% for item in site.data.navigation %}
    {% if item and item.path and item.label %}
      {% assign active = false %}
      {% if page.url == item.path %}
        {% assign active = true %}
      {% endif %}
      <a href="{{ site.baseurl }}{{ item.path }}"
         class="{{ classNameBase }}-item {% if active %}{{ classNameBase }}-item--activated{% endif %}"
         {% if active %} aria-current="page" {% endif %}>
        <span>{{ item.label }}</span>
      </a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}
