.hero-animation {
  --text-vf-CASL: var(--hero-text-vf-CASL);
  --text-vf-wght: var(--hero-text-vf-wght);
  --text-vf-MONO: 0;
  --text-vf-slnt: 0;
  --text-vf-ital: 0;
  --text-vf-MONO-max: 0;
  --text-vf-CASL-min: 0;
  --text-vf-CASL-max: 1;
  --text-vf-slnt-max: 0;
  --text-vf-ital-max: 0;
  --text-vf-wght-min: 100;
  --text-vf-wght-max: 1000;
  --h1-font-size-min: 3;
  --h1-font-size-max: 6.5;
  font-variation-settings: 'MONO' var(--text-vf-MONO), 'CASL' var(--text-vf-CASL), 'slnt' var(--text-vf-slnt), 'ital' var(--text-vf-ital);
  
  padding: 1.5rem 1rem 0.5rem 1rem;
  @media (min-width: $bp--medium) {
    padding: 3rem 1rem;
  }

  &__text {
    font-family: "Recursive", Helvetica, sans-serif;
    font-weight: var(--text-vf-wght);
    max-width: none;
    text-align: center;

    span {
      font-variation-settings: 'MONO' var(--text-vf-MONO), 'CASL' var(--text-vf-CASL), 'slnt' var(--text-vf-slnt), 'ital' var(--text-vf-ital);
      //transition: all .2s ease-in;
      .play & {
        animation: breath 1.5s alternate 6 ease-in-out;
      }
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 1rem auto;
    @media (min-width: $bp--medium) {
      grid-template-columns: max-content 1fr;
      max-width: 80vw;
  }
    > * {
      margin: 0 1rem;
    }
  }
  .controls {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 0 0 0;
    width: 100%;
  
    @media (min-width: $bp--medium) {
      grid-template-columns: 1fr 1fr;
      margin-top: 0;
    }
    > * {
      margin: 0 1rem;
    }
  }
  .pause + .controls {
    opacity: 1;
  }

}

.play-pause {
  --text-wght: 450;
  --mdc-theme-primary: #{$color-blue-900};
  margin-top: 0.25rem;
  text-transform: none;
  min-width: 10rem;
  &:hover {

  }
  &.pause::after {
    content: "Play";
    padding-left: 0.25em;
  }
  &.play::after {
    content: "Pause";
    padding-left: 0.25em;
  }
  &::after {
    .play & {
      content: "Pause";
      padding-left: 0.25em;
    }
    .pause & {
      content: "Play";
      padding-left: 0.25em;
    }
  }
}

@keyframes breath {
  0% {
    font-weight: var(--text-vf-wght-min);
    font-variation-settings: 'MONO' var(--text-vf-MONO), 'CASL' var(--text-vf-CASL-min), 'slnt' var(--text-vf-slnt), 'ital' var(--text-vf-ital);
  }
  100% {
    font-weight: var(--text-vf-wght-max);
    font-variation-settings: 'MONO' var(--text-vf-MONO-max), 'CASL' var(--text-vf-CASL-max), 'slnt' var(--text-vf-slnt-max), 'ital' var(--text-vf-ital-max);
  }
}
