.hero {
  // Flex layout breaks sliders (!)
  display: block;
}

.hero-buttons {
  float: left;
  width: 33%;
  outline: 2px solid red;
  padding: 1rem;
  button {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }
}

.hero-button--active {
  outline: 4px solid orange;
}

.hero-main {
  float: left;
  width: 67%;
  display: block;
  padding: 1.5rem 1rem 0.5rem 1rem;
  @media (min-width: $bp--medium) {
    padding: 3rem 1rem;
  }
}

.hero-animation {
  transition: background-color 0.3s ease-in-out;
  background-color: #FFF8E1;
}

[data-wght-active="true"] .hero-animation  {
  // All Variable Axes
  background-color: #FFCCBC;
}

[data-wdth-active="true"] .hero-animation  {
  background-color: #2196F3;
}
[data-ital-active="true"] .hero-animation  {
  background-color: #FF8A65;
}
[data-slnt-active="true"] .hero-animation  {
  background-color: #C8E6C9;
}
[data-opsz-active="true"] .hero-animation  {
  background-color: #E1BEE7;
}
[data-casl-active="true"] .hero-animation  {
  background-color: #B2DFDB;
}
