{% if include.text %}
  {% assign text = include.text %}
{% else %}
  {% assign text = 'Variable Typography' %}
{% endif %}

<div class="hero-animation pause" id="hero_animation">
  <h1 class="hero-animation__text">{{ text }}</h1>
  <div class="hero-animation__controls">
    <button id="play_pause" name="play-pause" class="mdc-button mdc-button--raised play-pause pause"><i class="material-icons mdc-button__icon" aria-hidden="true">pause</i> Click to </button>
    <div id='demo-controls' class="controls">
      {% include beatrice/02-molecules/09-slider-group/slider-group.html 
        style = 'wide'
        keyword = 'wght'
        id = 'hero-text-vf-wght'
        min = '100'
        max = '1000'
        now = '150'
        step = '1'
      %}
      {% include beatrice/02-molecules/09-slider-group/slider-group.html 
        style = 'wide'
        keyword = 'CASL'
        id = 'hero-text-vf-CASL'
        min = '0'
        max = '1'
        now = '0'
        step = '0.01'
      %}
    </div>
    
  </div>
</div>