<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/03-organisms/10-embeds/axis-component.css" />
<style>
  .range__axis.range__axis--ascender-descender {
    --text-vf-wght: 400;
    --text-vf-wdth: 95;
    --current-value: var(--YTAS-YTDE-text-vf-YTAS);
    --current-value2: var(--YTAS-YTDE-text-vf-YTDE);
  }
  .range__axis.range__axis--ascender-descender .paragraph .text {
    font-family: "Amstelvar VF", serif;
    font-size: calc( 2.8vw + 1rem );
    font-variation-settings: 'YTAS' var(--YTAS-YTDE-text-vf-YTAS), 'YTDE' var(--YTAS-YTDE-text-vf-YTDE);
    line-height: 1.025;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .range__axis.range__axis--ascender-descender code.prettyprint {
    font-size: 0.825rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
</style>

<div class="container range__axis range__axis--ascender-descender mdc-card">
  <div class="range__axis__label">
    <p>Ascenders & Descenders</p>
  </div>
  <div class="paragraph">
    <div class="text">Typographically<br />demanding</div>
  </div>
  {% include beatrice/02-molecules/09-slider-group/slider-group.html 
    keyword = 'YTAS'
    style = 'wide'
    id = 'YTAS-YTDE-text-vf-YTAS'
    min = '650'
    max = '850'
    now = '750'
    step = '1'
  %}
  {% include beatrice/02-molecules/09-slider-group/slider-group.html 
    keyword = 'YTDE'
    style = 'wide'
    id = 'YTAS-YTDE-text-vf-YTDE'
    min = '150'
    max = '350'
    now = '250'
    step = '1'
  %}
  <div class="code dark">
    <code class="prettyprint">
      .text { <br />
      &nbsp;&nbsp;  font-variation-settings: 'YTAS' <span class="current-value"></span>, 'YTDE' <span class="current-value2"></span>; <br />
      }
    </code>
  </div>
</div>


<figcaption>
  Featuring <a href="https://github.com/TypeNetwork/Amstelvar">Amstelvar</a>
</figcaption>

