.home-grid {

  @media (min-width: $bp--medium) {
    display: grid;
    grid-template-columns: 1fr minmax(15em, 45%) minmax(15em, 45%) 1fr;
  }
  &__hero {
    background-color: $color-blue-50;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 2%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 85%, rgba(0,0,0,0.05) 99%, rgba(0,0,0,0.15) 100%),
    radial-gradient(ellipse at top left, var(--color-callout-highlight-alt) 0%, var(--color-callout-highlight-alt-secondary) 70%);
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    min-height: 10rem;
    margin-bottom: calc( var(--body-text-spacer) * 5 );
    &__more {
      font-weight: 350;
      font-size: 0.925rem;
      font-variation-settings: 'slnt' -10;
      margin: 0 auto -1.5rem auto;
      max-width: 90%;
    }
  }
  &__title {
    --h1-vf-wdth: 40;
    --h1-font-size-max: 7;
    --h2-vf-wdth: 50;
    --h2-font-size-max: 4;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    @media (min-width: $bp--medium) {
      padding-right: 2rem;
    }
      h2 {
      color: var(--color-text-callout);
    }
  }
  &__intro {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  &__cards {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding-top: calc( var(--body-text-spacer) * 5 );
    @media (min-width: $bp--medium) {
      display: flex;          
    }
    > * {
      --h3-font-size-max: 2;
      --h3-vf-wdth: 45;
      flex-grow: 1;
      justify-content: space-between;
      margin-bottom: calc( var(--body-text-spacer) * 2 );
      width: 100%;
      @media (min-width: $bp--medium) {
        width: 32%;
        margin-left: 2%;          
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .lede {
    &:first-line {
      font-weight: inherit;
    }
  }
}