// Colors
// =============================================================================

$color-gray: #565656;
$color-gray-dark: #4c4d41;
$color-gray-darker: #3c3d31;
$color-gray-light: #a9a9a9;
$color-gray-lighter: #e9e9e9;
$color-gray-lightest: #f8f8f8;

$color-offwhite: #fafafc;

$color-coral: #ff5252;

/* functional assignments */

$color-text: $color-gray-dark;
$color-text-link: $color-coral;
$color-text-link-visited: lighten($color-coral, 7.5%);
$color-text-link-hover: darken($color-coral,10%);
$color-text-link-focus: darken($color-coral,10%);
$color-text-link-active: darken($color-coral,10%);
