.content-section {
  padding-left: 1vw;
  padding-right: 1vw;
  &--grid {
    @media (min-width: $bp--medium) {
      display: grid;
      grid-template-columns: minmax(22rem, 45rem) minmax(22rem, 1fr);
    }
  }
  &--main {
    .content-section--aside + & {
      padding-top: calc( var(--body-text-spacer) * 1 );
    }
  }
  @media (min-width: $bp--medium) {
    &--main {
      padding-right: 2rem;
      .content-section--aside + & {
        padding-top: calc( var(--body-text-spacer) * 2 );
      }
    }
    &--aside {
      padding-left: 2rem;
      &.sticky {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: calc( var(--body-text-spacer) * 5 );
      }
    }
  }
  + .content-section {
    margin-top: calc( var(--body-text-spacer) * 3 );
  }
}

.axis {
  padding-top: 3rem;
  &.registered {
    > h2 {
      margin-top: 0;
      &::before {
        content: "Registered Axis";
        display: block;
        font-family: $sans-serif-novf;
        font-size: 1rem;
        font-weight: 375;
        font-variant-caps: all-small-caps;
      }
    }
  }
/* first reset the default style, then add the section mark using the 'content' attribute */
hr {
  border: none;
}
hr::after {
  color: $color-gray-light;
  content: "§";
  display: block;
  font-family: $sans-serif-novf;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  margin: 1em auto;
  padding-top: 0.1em;
  text-align: center;
  background: radial-gradient(0.801em at 50%, #fff 0.8em, transparent),
    linear-gradient(
        to left,
        $color-gray-lighter,
        $color-gray-lighter,
        $color-gray-lighter
      )
      center / 100% 1px no-repeat,
    linear-gradient(
        to left,
        rgba($color-gray-lighter, 0.5),
        transparent 25%,
        transparent 75%,
        rgba($color-gray-lighter, 0.5)
      )
      center / 100% 3px no-repeat;
  @supports (font-variation-settings: normal) {
    font-family: $sans-serif;
    padding-top: 0.05em;
  }
}


}