.content-section {
  padding-left: 1vw;
  padding-right: 1vw;
  &--grid {
    @media (min-width: $bp--medium) {
      display: grid;
      grid-template-columns: minmax(22rem, 45rem) minmax(22rem, 1fr);
    }
  }
  &--main {
    .content-section--aside + & {
      padding-top: calc( var(--body-text-spacer) * 1 );
    }
  }
  @media (min-width: $bp--medium) {
    &--main {
      padding-right: 2rem;
      .content-section--aside + & {
        padding-top: calc( var(--body-text-spacer) * 2 );
      }
    }
    &--aside {
      padding-left: 2rem;
      &.sticky {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: calc( var(--body-text-spacer) * 5 );
      }
    }
  }
  + .content-section {
    margin-top: calc( var(--body-text-spacer) * 3 );
  }
}

.axis {
  padding-top: 3rem;
  > h2 {
    
    margin-top: 0;
    padding-bottom: calc( var(--body-text-spacer) / 2 );
    position: relative;
    z-index: 1;
    @media (prefers-color-scheme:dark) {
      background-color: rgba(0,0,0,0.75);
    }
   &::before {
      display: block;
      font-family: $sans-serif-novf;
      font-size: 1rem;
      font-weight: 375;
      font-variant-caps: all-small-caps;
      position: relative;
      z-index: 1;
      @supports (font-variation-settings: normal) {
        font-family: $sans-serif;
      }
    }
    &::after {
      background-repeat: no-repeat;
      background-size: 100%;
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 1;
      @media (prefers-color-scheme:dark) {
        opacity: 0.1;
      }
    }
  }
  &.registered {
    > h2 {
      &::before {
        content: "Registered Axis";
      }
    }
  }
  &.custom {
    > h2 {
      @media (prefers-color-scheme:dark) {
        background-color: transparent;
      }
        &::before {
        content: "Custom Axis";
      }
    }
  }
  &--wght {
    > h2 {
      &::after {
        background-image: url(../img/hdr_bkgrnd_weight.png);
      }
    }
  }
  &--wdth {
    > h2 {
      &::after {
        background-image: url(../img/hdr_bkgrnd_width.png);
      }
    }
  }
  &--ital {
    > h2 {
      &::after {
        background-image: url(../img/hdr_bkgrnd_italic.png);
      }
    }
  }
  &--slnt {
    > h2 {
      &::after {
        background-image: url(../img/hdr_bkgrnd_slant.png);
      }
    }
  }
  &--opsz {
    > h2 {
      &::after {
        background-image: url(../img/hdr_bkgrnd_optical_sizing.png);
      }
    }
  }
  &--slnt-ital {
    > h2 {
      &::after {
        background-image: url(../img/hdr_bkgrnd_slant-italics.png);
      }
    }
  }
}
