@import "@material/card/mdc-card";

.mdc-card {
  --mdc-theme-surface: var(--color-background);
  &__primary-action {
    &::before,
    &::after {
      background-color: $color-blue-900;
    }
  }
  &__action--icon:not(:disabled) {
    color: var(--color-text);
  }
  .mdc-icon-button {
    &::before,
    &::after {
      background-color: $color-blue-900;
    }
  }
}


.vf-mdc-card {
  &__title {
    margin: 1rem;

  }
  &__body {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

a {
  display: block;
  &:link,
  &:visited {
    --color-text-link: var(--color-text-callout);
    --color-text-link-visited: var(--color-text-callout);
    text-decoration: none;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
