{% comment %}
  include fields:
  title: title text
  heading_level: heading tag (defaults to h2)
  subheading: subhead text
  subheading_level: subheading tag (defaults to h3)
  body: body text

{% endcomment %}

{% assign tag = 'div' %}
{% if include.primary_link_url %}
  {% assign tag = 'a' %}
{% endif %}

<{{ tag }} class="mdc-card vf-mdc-card mdc-card--outlined"
           {% if include.primary_link_url %}
             href="{{ include.primary_link_url }}"
           {% endif %}>
  {% if include.media %}
    <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('{{ site.baseurl }}{{ include.media }}');"></div>
  {% endif %}
  {% if include.body %}
    <div class="vf-mdc-card__body">
      {% if include.label and site.data.icons and site.data.icons[include.label] %}
        <i class="material-icons mdc-card__action mdc-card__action--icon" title="{{ include.label }}">{{ site.data.icons[include.label] }}</i>
      {% endif %}
      <h3 class="vf-mdc-card__title">{{ include.title }}</h3>
      {% if include.subtitle %}
        <h4 class="vf-mdc-card__subtitle">by {{ include.subtitle }}</h4>
      {% endif %}
      <div class="vf-mdc-card__description">
        <p>{{ include.body }}</p>
      </div>
    </div>
  {% endif %}
</{{ tag }}>
