{% comment %}
  include fields:
  card_style: used to set outline style
  title: title text
  heading_level: heading tag (defaults to h2)
  subheading: subhead text
  subheading_level: subheading tag (defaults to h3)
  body: body text

{% endcomment %}

{% if include.card_style == 'outline' %}
  {% assign card_style = 'mdc-card--outlined' %}
{% endif %}

<div class="mdc-card vf-mdc-card {{ card_style }}">
  {% if include.icon %}
  {% endif %}
  {% if include.primary_link_url %}
    <a href="{{ include.primary_link_url }}">
  {% endif %}
    <div class="mdc-card__primary-action">
      {% if include.media %}
        <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('{{ site.baseurl }}{{ include.media }}');"></div>
      {% endif %}
      {% if include.body %}
        <div class="vf-mdc-card__body">
          {% if include.label and site.data.icons and site.data.icons[include.label] %}
            <i class="material-icons mdc-card__action mdc-card__action--icon" title="{{ include.label }}">{{ site.data.icons[include.label] }}</i>
          {% endif %}
          <h3 class="vf-mdc-card__title">{{ include.title }}</h3>
          {% if include.subtitle %}
            <p class="vf-mdc-card__subtitle">by {{ include.subtitle }}</p>
          {% endif %}
          <p>{{ include.body }}</p>
        </div>
      {% endif %}
      </div>
    {% if include.primary_link_url %}
      </a>
    {% endif %}
</div>
