<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta content="website" property="og:type" />

    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{%
      endif %}
    </title>
    <meta
      name="description"
      content="{% if page.description %}{{ page.description }}{% else %}{{
        site.description
      }}{% endif %}"
    />

    <!-- Icons -->
    <link
      rel="shortcut icon"
      href="/assets/img/google_fonts_lodp.ico"
      type="image/x-icon"
    />

    <!-- Feed -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.name }} RSS Feed"
      href="{{ '/feed.xml' | relative_url }}"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <script src="/assets/js/vendor/fontfaceobserver.js"></script>
    <script type="text/javascript">
  		(function() {
  			document.documentElement.className += " wf-inactive"; 

        function cssPropertyValueSupported(prop, value) {
          var d = document.createElement('div');
          d.style[prop] = value;
          return d.style[prop] === value;
        }
        var vfSupport = true;
        
        var vfSupport = cssPropertyValueSupported('font-optical-sizing', 'auto');
        // should return true if the browser supports variable fonts
				console.log('vfSupport: '+vfSupport);

  	
  			// Optimization for Repeat Views
  			if( sessionStorage.foutFontsLoaded ) {
  				document.documentElement.classList.remove("wf-inactive");
  				document.documentElement.classList.add("wf-active");
  				return;
  			}
        
        if( vfSupport == true ) {
					var fontA = new FontFaceObserver('Portada VF', {
						weight: 400,
						style: 'normal'
					});
					var fontB = new FontFaceObserver('Portada VF', {
							weight: 400,
							style: 'italic'
						});
          var fontC = new FontFaceObserver('Proxima Nova VF', {
            weight: 400,
            style: 'normal'
					});
					var fontD = new FontFaceObserver('Proxima Nova VF', {
						weight: 400,
						style: 'italic'
					});
			
					Promise.all([fontA.load(), fontB.load(), fontC.load(), fontD.load()]).then(function () {
            document.documentElement.classList.remove("wf-inactive");
            document.documentElement.classList.add("wf-active");
          
    				// Optimization for Repeat Views
    				sessionStorage.foutFontsLoaded = true;
  				});
        } else {
					var fontA = new FontFaceObserver('Source Serif Pro', {
							weight: 300,
							style: 'normal'
						});
					var fontB = new FontFaceObserver('Source Serif Pro', {
							weight: 400,
							style: 'normal'
						});
					var fontC = new FontFaceObserver('Source Serif Pro', {
							weight: 600,
							style: 'normal'
						});
					var fontD = new FontFaceObserver('Source Serif Pro', {
							weight: 400,
							style: 'italic'
						});
					var fontE = new FontFaceObserver('Source Serif Pro', {
							weight: 600,
							style: 'italic'
						});

					Promise.all([fontA.load(), fontB.load(), fontC.load(), fontD.load(), fontE.load()]).then(function () {
            document.documentElement.classList.remove("wf-inactive");
            document.documentElement.classList.add("wf-active");
          
    				// Optimization for Repeat Views
    				sessionStorage.foutFontsLoaded = true;
    			});
        }
  		})();
  	</script>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="{{ site.twitter_username }}" />
    <meta
      name="twitter:title"
      content="{% if page.title %}{{ page.title }}{% else %}{{
        site.title
      }}{% endif %}"
    />
    <meta
      name="twitter:description"
      content="{% if page.excerpt | escape  %}{{
        page.excerpt | escape
      }}{% else %}{{ page.title }}{% endif %}"
    />
    {% if page.share-image %}
    <meta
      name="twitter:image:src"
      content="{{
        page.share-image | prepend: site.image_url | absolute_url
      }}"
    />
    {% else %}
    <meta
      name="twitter:image:src"
      content="{{ '/assets/img/design/twitter-card.png' | absolute_url }}"
    />
    {% endif %}
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }}{% else %}{{
        site.title
      }}{% endif %}"
    />
    {% if page.share-image %}
    <meta
      property="og:image"
      content="{{ page.share-image | absolute_url }}"
    />
    {% else %}
    <meta
      property="og:image"
      content="{{ '/assets/img/design/og-card.png' | absolute_url }}"
    />
    {% endif %}
    <meta
      property="og:description"
      content="{% if page.excerpt | escape  %}{{
        page.excerpt | escape
      }}{% else %}{{ page.title }}{% endif %}"
    />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:locale" content="en_US" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

  <body class="{{
    page.layout
  }}
  {% for class in page.design-classes %}
    {{ class }} 
  {% endfor %}
  post{{ page.id | replace:"/","-"
  
  }}">
  <div class="page-wrapper">
  