  </div><!-- /page-wrapper -->
  
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  <script src="{{ site.baseurl }}/assets/js/google-code-prettify/run_prettify.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24053025-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-24053025-7');
  </script>
</body>
</html>
