<div class="content-section">
  <footer class="footer" role="contentinfo">
    <div class="footer-col">
      {% if site.data.credits and site.data.credits|size >= 1 %}
        {% for credit in site.data.credits %}
          <p>
            {% if credit.url %}
              <a href="{{ credit.url }}" target="_blank" rel="noopener nofollow">
            {% endif %}
            <strong>{{ credit.name }}</strong><br/>
            {% if credit.url %}
              </a>
            {% endif %}
            {{ credit.description }}
          </p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="footer-col">
      <p>Contribute to this site <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}">on Github</a>.</p>
      <div class="site-by-grouping">
        <a href="https://bizlet.org" target="_blank" rel="noopener nofollow" class="bizlet-logo"><img src="{{ site.baseurl }}/assets/img/business_letters_logo.png" alt="Business Letters logo" /></a>
        <p><a href="https://bizlet.org" target="_blank" rel="noopener nofollow">Site by Business Letters</a></p>
      </div>
    </div>
    <div class="footer-col--badge">
      {% include /beatrice/02-molecules/12-gf-friends-badge/gf-friends-badge.html %}
    </div>
  </footer>
</div>
