.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin-left: -1rem;
  margin-right: -1rem;
  > * {
    --h3-font-size-min: 1.25;
    --h3-font-size-max: 2;
    --h4-font-size-min: 1;
    --h4-font-size-max: 1.25;
    --h4-vf-wght-multiplier-s: 1;
    --h4-vf-wght-multiplier-m: 1.05;
    --h4-vf-wght-multiplier-l: 1.1;
    --p-font-size-min: 0.925;
    --p-font-size-max: 1;
    --p-line-height-min: 1.25;
    --p-line-height-max: 1.33;
    margin: 0 1rem 2rem 1rem;
    h4 {
      font-family: $sans-serif-slant;
      font-variation-settings: 'slnt' -9;
    }
  }
}