---
layout: beatrice_page
title: "Designing with Variable Fonts" 
description: "An introduction to the variable font format with visual explanations of weight, width, and other axes."
permalink: /about-variable-fonts/
---
<div class="color light-blue padded-bottom">
<h1>{{ page.title }}</h1>
<section class="content-section">
  <h2>A new kind of font</h2>
  <figure class="figure--right">
    {% include beatrice/03-organisms/10-embeds/a-overlays/a-overlays.html 
    %}
    <figcaption>Overlaid letterforms showing width and weight ranges</figcaption>
    </figure>
  <p class="lede">Variable fonts are an evolution of the <a href="https://docs.microsoft.com/en-us/typography/opentype/spec/">OpenType specification</a>. They let you use CSS to access all the styles contained in a single font file without worrying about <a href="https://alistapart.com/article/say-no-to-faux-bold/">browser distortions</a> like fake <strong>bolds</strong> or <em>italics</em>.</p> 
  <p class="lede">Previously, using multiple styles meant loading multiple files—one for every width, weight, or italic. This created tension between design expressiveness (the number of fonts used) and website performance (the amount of data to download). With variable fonts, that whole equation changes.</p> 
          
  <blockquote>
    <p>Now you can use as many variations of a font as you like without slowing down your site</p>
  </blockquote>

  </div>
  <section class="content-section">
  <h3>What’s an axis?</h3>
  <aside class="aside aside--right">
    <h4>Variation axes can include:</h4>
  <ul class="pill-buttons down-arrow">
    <li><a href="#wght">Weight <i class="material-icons right">arrow_downward</i></a></li>
    <li><a href="#wdth">Width <i class="material-icons right">arrow_downward</i></a></a></li>
    <li><a href="#ital">Italic <i class="material-icons right">arrow_downward</i></a></a></li>
    <li><a href="#slnt">Slant <i class="material-icons right">arrow_downward</i></a></a></li>
    <li><a href="#opsz">Optical size <i class="material-icons right">arrow_downward</i></a></a></li>
    <li><a href="#custom">Custom <i class="material-icons right">arrow_downward</i></a></a></li>
  </ul>
</aside>

<h4>A variation axis is the expression of a single aspect of a typeface’s design</h4>
<p>The weight axis, for example, defines how light or bold a font looks. With standard fonts, the terms “normal” and “bold” refer to specific files that are called to serve those styles. With variable fonts, weight is conveyed through minimum and maximum numeric values, and designers or developers can choose any value in between.</p>

  <p>Not every variable font will have every possible axis (weight will likely be the most popular), but the format, browser implementation, and operating systems guarantee they’ll all work as intended.</p>

  <p>Axes are divided into 2 types, registered and custom. While there are currently 5 registered axes, type designers can define their own custom axes, creating any kind of variations they can dream up. There are fonts with custom axes for grade, expressiveness, the ascender and descender height of lowercase letters, and countless more. The format itself is purposely left open to allow this sort of innovation.</p>
  <p>In the CSS, the abbreviations of the registered or conventional axes are written in lowercase, and the abbreviations of custom axes are written in uppercase.</p> 
  <p>The registered axes map to standard CSS attributes. Custom axes can be referenced using the new CSS attribute <code>font-variation-settings</code>. </p>
  
  <table>
    <tbody>
      <tr>
        <th>Axis & Abbreviation</th>
        <th>CSS attribute</th>
      </tr>
      <tr>
        <td>Weight (<code>wght</code>)</td>
        <td><code>font-weight</code></td>
      </tr>
      <tr>
        <td>Width (<code>wdth</code>)</td>
        <td><code>font-width</code></td>
      </tr>
      <tr>
        <td>Italic (<code>ital</code>)</td>
        <td><code>font-style</code></td>
      </tr>
      <tr>
        <td>Slant (<code>slnt</code>)</td>
        <td><code>font-style</code></td>
      </tr>
      <tr>
        <td>Optical size (<code>opsz</code>)</td>
        <td><code>font-optical-sizing</code></td>
      </tr>
    </tbody>
  </table>
  
  <h3 class="manicule">Why this matters</h3 class="manicule">
  
  <blockquote class="right">
    <p>Variable fonts are better for web and mobile apps</p>
  </blockquote>

  <p>Downloading a single file instead of multiple individual fonts can yield a significant performance gain in reduced file size and fewer file requests. </p>
  <p>Since that single file includes the entire design space instead of a few very specific weights or other variants, the design vocabulary is much greater. Instead of only 1 or 2 weights, the entire available range can be referenced directly via CSS—from extra-light to extra-heavy, narrow to wide, upright to italic. </p>
  <p>Effective use of type generates greater clarity and hierarchy, which benefits both design and user experience. There are accessibility benefits, too, like providing a way for users to increase font weight and color contrast to help with low vision, or making subtle adjustments to the typography for a dark-mode implementation for people who are sensitive to light.</p>

  <hr />
  <h2>Axes</h2>

</section>
<section class="content-section axis registered axis--wght" id="wght">
  <h2>Weight</h2>
  <div class="content-section--grid">
    <div class="content-section--main">
      <p>Many typefaces are designed with at least regular and bold weights, and quite often with much lighter/thinner and bolder extremes.</p>
      <p>With a variable font, the standard CSS attribute of <code>font-weight</code> can be used with a number somewhere between the minimum and maximum value defined for the font. This allows far greater flexibility and precision in specifying weight than just a keyword like “normal” or “bold”. According to the OpenType specification, <a href="https://docs.microsoft.com/en-us/typography/opentype/spec/dvaraxistag_wght">400 should equate to normal</a> for any given font. In practice, though, that varies quite a bit from typeface to typeface.</p>

<pre class="css"><code class="prettyprint">
  p {
    font-weight: 425;
  }
  strong {
    font-weight: 675;
  }
</code></pre>
    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'weight'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3>
      <p>A broader range for design elements, like an extra-thin weight for big quotes or a super-heavy one for extra emphasis, is very useful. It’s also worth experimenting with what it means for something to be “bold.” </p>
      <p>Using a slightly less bold value for bold text inline with body copy (i.e., the <code>strong</code> tag) can bring more legibility to emphasized text while still standing out. With heavier weights, characters tend to close up, so being just a little bolder at smaller sizes can still provide emphasis while preserving openness. Try setting <code>strong</code> to a <code>font-weight</code> somewhere between 500–600 instead of the default 700.</p>
    </div>
  </div>
</section>


<section class="content-section axis registered axis--wdth" id="wdth">
    <hr />
    <h2>Width</h2>
    <div class="content-section--grid">
      <div class="content-section--main">
        <p>Width in typeface design is often expressed in terms like  “condensed” or “compressed” or “extended”—though the exact meaning of those words is subjective. These terms all refer to how relatively narrow or wide a font is in relation to the “normal” design.</p>
        <p><a href="https://docs.microsoft.com/en-us/typography/opentype/spec/dvaraxistag_wdth">According to the specification</a>, 100 should equate to a “normal” width, and valid values can range from 1 to 1000. Like weight, it maps to an existing CSS attribute, in this case <code>font-stretch</code>, and is expressed as a percentage.</p> 
        <p>In these early stages of adoption, many type designers and foundries have not necessarily adhered to this standard. Number ranges like 3%–5%, while still valid, can look a little odd in your CSS (in this case 5% is actually the normal width). Hopefully over time more standardization will emerge.</p>
    
<pre class="css"><code class="prettyprint">
  p {
    font-stretch: 89%;
  }
</code></pre>
    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'width'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3 class="manicule">
      <p>Making sure larger headlines don’t end up fitting only one or two words per line can be a challenge on smaller screens. In addition to adjusting <code>font-size</code> based on viewport size using techniques like media queries or viewport units and <calc>calc()</calc>, a width axis can make headings slightly narrower, fitting more words per line without having to make the <code>font-size</code> even smaller.</p>
    </div>
  </div>
</section>

<section class="content-section axis registered axis--ital" id="ital">
  <hr />
  <h2>Italic</h2>
  <div class="content-section--grid">
    <div class="content-section--main">
      <p>The italic axis is fairly straightforward. In most cases it’s a boolean 0 or 1: off ( upright) or on—usually meaning slanted strokes and sometimes glyph replacements (the lowercase <span class="medium">a</span> and <span class="medium">g</span> often have different italic forms, for example).</p> 
      <p>It’s possible to have a range rather than strictly 0 or 1, but the off/on scenario is the most common.</p>  
      <p>Unfortunately, while it is intended to map to <code>font-style: italic</code>, this is one of the areas where browsers have not fully resolved the implementation, so for now it’s necessary to use the lower-level syntax of <code>font-variation-settings</code>. This is a good case for using a CSS custom property so that you can alter only the italic/upright setting without having to redeclare the entire <code>font-variation-settings</code> string.</p>
    
<pre class="css"><code class="prettyprint">
  :root {
    --text-ital: 0;
  }
  body {
    font-variation-settings: 'ital' var(--text-ital);
  }
  em {
      --text-ital: 1;
  }
</code></pre>
    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'italic'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3 class="manicule">
      <p>Having italics available alongside the upright forms is useful when combined with weight to handle everyday needs for body copy, requiring only 1 or 2 files instead of at least 4. Combined with the range of additional axes available in some typeface designs, there may be no need for other fonts at all.</p>
    </div>
  </div>
</section>

<section class="content-section axis registered axis--slnt" id="slnt">
  <hr />
  <h2>Slant</h2>
  <div class="content-section--grid">
    <div class="content-section--main">
      <p>The slant axis is similar to italic, but differs in two key ways. First, it’s expressed as a degree continuum, and <a href="https://docs.microsoft.com/en-us/typography/opentype/spec/dvaraxistag_slnt">according to the OpenType specification</a> should be “greater than -90 and less than +90”; and, second, it doesn’t include glyph substitution. Usually associated with sans serifs, it allows for any value along the range specified. If the font in use only has a slant axis and no italics, use the standard attribute of <code>font-style</code>, like so:</p>
    
<pre class="css"><code class="prettyprint">
  em {
    font-style: oblique 12deg;
  }
</code></pre>
      <p>If the font in use has both slant and italic axes, then you have to use <code>font-variation-settings</code>. In this case, it’s just a numeric value without the <code>deg</code> nomenclature.</p>
<pre class="css"><code class="prettyprint">
  :root {
    --text-slnt: 0;
  }
  body {
    font-variation-settings: 'slnt' var(--text-slnt);
  }
  em {
      --text-slnt: 12;
  }
</code></pre>

    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'slant'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3 class="manicule">
      <p>The slant axis allows for anything within the defined range. Opportunities abound to set the angle a little differently, or to add animation so the text slants just a little after the page loads. It’s a unique way to draw attention to a text element in an understated way.</p>
    </div>
  </div>
</section>

<section class="content-section axis registered axis--opsz" id="opsz">
  <hr />
  <h2>Optical Size</h2>
  <div class="content-section--grid">
    <div class="content-section--main">
      <p>The practice of optical sizing evolved in the sixteenth century, back when punchcutters were carving type out of metal by hand. It entailed cutting physically smaller type with slightly thicker strokes and less contrast to ensure it would print well and be legible at smaller sizes. Other aspects could be fine-tuned as well—apertures could become wider, terminals more angled, bowls enlarged. [needs an illustration here] Conversely, larger point sizes would be cut with greater finesse, allowing for heightened contrast and intricate details. This allowed a single typeface design to work optimally at a range of physical sizes. </p>
      <figure class="large">
        <img src="{{ site.baseurl }}/assets/img/optical_sizing_illustrated.jpg" alt="Illustration of optical sizing of text" />
        <figcaption>Notice the difference in stroke contrast (thick and thin) between the letters in the heading and text below</figcaption>
      </figure>
      <p>The practice of optical sizing was lost, however, with the shift to phototypesetting and then digital type. Both of these newer practices involved taking a single outline and scaling it up or down. The fine details that appeared so graceful at larger sizes grew muddy or even hampered legibility when type was scaled down; sturdier type that worked well in running text at smaller sizes became spindly and frail (especially on early lower-resolution screens) when scaled up. Regaining optical sizing in the form of a variable axis restores tremendous range to individual designs.</p>
      <p>The concept is that the numeric value for this axis should match the rendered font size, and a new attribute was introduced to go along with it: <code>font-optical-sizing</code>. The default is <code>auto</code>, and this is supported behavior in all shipping browsers. You can force it to <code>off</code>, or you can set an explicit value via <code>font-variation-settings</code>.</p>
    
<pre class="css"><code class="prettyprint">
  body {
    font-optical-sizing: auto;
  }
</code></pre>

      <p>Or:</p>

<pre class="css"><code class="prettyprint">
  :root {
    --text-opsz: 16;
  }
  body {
    font-variation-settings: 'opsz' var(--text-opsz);
  }
  h1 {
    --text-opsz: 48;
    font-size: 3em;
  }
</code></pre>
    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'optical-size-auto'
        %}
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'optical-size'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3 class="manicule">
      <p>A good optical-size axis makes type more legible at smaller sizes. Tailoring it to the size at which it’s used makes a remarkable difference. On the other end of the spectrum, increased stroke contrast (and anything else the type designer decides to vary) means a single font can feel completely different when used smaller for body copy and larger for headings. The variable version of Roslindale (from David Jonathan Ross’ <a href="https://fontofthemonth.club">Font of the Month Club</a>) <a href="https://web.archive.org/web/20191225211020/https://rwt.io/colophon">in use on RWT.io</a> (December 2019) showcases what a big impact this can have. The site uses a single font for both headings and body copy, yet they feel completely different in width, weight, and stroke contrast.</p>
    </div>
  </div>
</section>
       
<section class="content-section axis registered axis--slnt-ital" id="slnt_ital">
  <hr />
  <h2>Slant & Italics</h2>
  <div class="content-section--grid">
    <div class="content-section--main">
      <p>It’s unclear if the creators of the variable font specification were thinking of this when it was written, but technically there is no reason there can’t be separate axes for slant (i.e., angle) and italic (i.e., glyph substitution). Indeed, both David Jonathan Ross and Stephen Nixon have done just that, with <a href="https://djr.com/notes/roslindale-variable-italic-font-of-the-month/">Roslindale Italic</a> and <a href="https://recursive.design">Recursive</a>, respectively. With Recursive, it’s apparent how much flexibility can be achieved by separating the angle change from the glyph substitution. It can impart a completely different feel to a block of text to have an angle without the alternate forms. With the state of italic implementation and the fact that they share the same CSS attribute, this is a situation that requires the use of <code>font-variation-settings</code> in order to set the attributes separately.</p>
      
<pre class="css"><code class="prettyprint">
  :root {
    --text-ital: 0;
    --text-slnt: 0;
  }
  body {
    font-variation-settings: 'ital' var(--text-ital), 'slnt' var(--text-slnt);
  }
  em {
     --text-ital: 1;
     --text-slnt: 12;
  }
  .slanted {
     --text-slnt: 12;
  }
  .italic-forms-only {
    --text-ital: 1;
  }
</code></pre>
  
    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'slant-italics'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3 class="manicule">
      <p>Having these axes separated offers greater design flexibility when creating typographic systems. In some cases, slant alone may be the best option; in others, both angle and glyph substitution may be desirable. Although not the most critical of features, it does add an extra dimension to the utility and dynamic range of a font.</p>
    </div>
  </div>
</section>
<section class="content-section" id="custom">
  <hr />
  <h2>Custom Axes</h2>
  <p>Because there are so many examples of custom axes, it’s impossible to cover them all here. Nick Sherman’s <a href="https://v-fonts.com">v-fonts.com</a> is a good place to browse if you want to  see what sort of variety exists. Let’s focus on examples of a few custom axes that highlight usage for accessibility and UI improvements, and that also give you creative latitude  with typographic systems and expressiveness.</p>
</section>

<section class="content-section axis custom" id="grad">
  <h2>Grade</h2>
  <div class="content-section--grid">
    <div class="content-section--main">
      <p>Grades were first introduced to compensate for ink gain on different kinds of paper and presses. They act as a sort of “equalizer”—a way of visually correcting a typeface across workflows so it appears the same in every environment. A grade alters the weight of a font without changing the overall space the text occupies. Having this as a variable axis can be useful in a couple of ways. Creating a higher-contrast mode, where the text gets slightly heavier without reflowing, can make text more legible in low-light situations or in designing for “dark mode.” And when animating interface elements, this axis can add a heavier text grade along with a background-color shift on hover, tap, or focus. </p>
      <p>It can also be handy for responding to low-resolution screens, where type can easily become spindly. Note that as with other custom axes, the abbreviation needs to be specified in all caps.</p>
    
<pre class="css"><code class="prettyprint">
  :root {
    --text-grad: 0;
  }
  body {
    font-variation-settings: 'GRAD' var(--text-grad);
  }
  body.dark {
    --text-grad: 0.5;
  }
</code></pre>

    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'grade'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3 class="manicule">
      <p>Likely the most significant use of a grade axis will be for accessibility—designing a dark or high-contrast mode, for example. But it will also work well in UI animations, like making text heavier on buttons or navigation on hover or focus without altering the physical space occupied by the text.</p>
    </div>
  </div>
</section>

<section class="content-section axis custom" id="casl">
  <hr />
  <h2>Casual</h2>
  <div class="content-section--grid">
    <div class="content-section--main">
      <p>The variable font <a href="https://recursive.design">Recursive</a> has 5 different axes, but the custom one we’ll focus on here is called Casual. It makes the font shift from a typical sans serif design to one that looks more like freehand sign-painting.</p>
    
<pre class="css"><code class="prettyprint">
  :root {
    --text-casl: 0;
  }
  body {
    font-variation-settings: 'CASL' var(--text-casl);
  }
  .casual {
    --text-casl: 0.95;
  }
    
</code></pre>

    </div>
    <div class="content-section--aside sticky">
        {% include beatrice/03-organisms/10-embeds/axis-component.html 
          axis = 'casual'
        %}
    </div>
    <div class="content-section--main">
      <h3 class="manicule">Why this matters</h3 class="manicule">
      <p>Some might not see the value in this axis, but it does let you introduce a vastly different feel to a block of text (like headings, perhaps) without loading a second font. This gives the design vocabulary tremendous range.</p>
    </div>
  </div>
</section>
<section class="content-section axis custom" id="ytas_ytde">
    <hr />
    <h2>Ascenders & Descenders</h2>
    <div class="content-section--grid">
      <div class="content-section--main">
        <p>This custom axis alters the height of the ascenders and descenders of lowercase letters. These are the parts of letters that “ascend” (the tops of b, d, t, and h) and “descend” (the bottoms of p, q, g, and y). This axis is useful for adjusting how expressive a block of text feels and for setting text without a lot of space between lines. The variable font Amstelvar has two custom axes: <code>YTAS</code> for ascenders and <code>YTDE</code> for descenders.
          </p>
        
<pre class="css"><code class="prettyprint">
  :root {
    --text-ytas: 750;
    --text-ytde: 250;
  }
  body {
    font-variation-settings: 'YTAS' var(--text-ytas), 'YTDE' var(--text-ytde);
  }
  .shorter {
      --text-ytas: 675;
      --text-ytde: 185;
  }
  .taller {
    --text-ytas: 825;
    --text-ytde: 335;
  }
 </code></pre>
    
      </div>
      <div class="content-section--aside sticky">
          {% include beatrice/03-organisms/10-embeds/axis-component.html 
            axis = 'ascender-descender'
          %}
      </div>
      <div class="content-section--main">
        <h3 class="manicule">Why this matters</h3 class="manicule">
        <p>It’s common to set large text blocks very tightly. Reducing the length of ascenders and descenders allows lines of text to be set very closely together without the descenders on one line crashing into the ascenders of the line below. </p>
      </div>
    </div>
  </section>
  
<section class="content-section">
  <hr />
  <h2>Next steps</h2>
  <p>Congratulations! You’re well on your way to understanding the power and flexibility of variable fonts. They may not always be the most appropriate solution, but in many cases they can offer substantial benefits. Take a look at <a href="{{ site.baseurl }}/implementing-variable-fonts/">Implementing Variable Fonts</a> to give them a try and see how to incorporate them into your own projects, and have a look at <a href="{{ site.baseurl }}/variable-font-resources/">the resources section</a> for more links, articles, and tutorials to explore.</p>
</section>

