---
layout: beatrice_page
title: "Variable Fonts Resources" 
permalink: /variable-font-resources/



---
<h1>{{ page.title }}</h1>
<section class="content-section">
{% assign resourcesGrouped = site.resources | group_by: 'category' | sort: 'name' | reverse %}  

{% for resources in resourcesGrouped %}
  <h2>{{ resources.name }}</h2>
  <p>The literature on variable fonts has exploded since they were first announced in 2016. The best way to grok variable fonts is to jump in and start playing with them. Once you feel comfortable using variable fonts, you might want to branch out and explore the broader context of which they are a part. </p>
  <div class="card-grid">
  {% assign resourcesSorted = resources.items | sort: 'title' %}  
  {% for resource in resourcesSorted %}
    {% assign body = resource.content | markdownify %}
    {% include beatrice/02-molecules/03-card/card.html 
      card_style = 'outline'
      primary_link_url = resource.link
      heading_level = 3
      label = resource.type
      title = resource.title
      subtitle = resource.author
      body = body
    %}
  {% endfor %}
  </div>
{% endfor %}

</section>