@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  --mdc-theme-primary: var(--color-background);
  --mdc-theme-on-primary: var(--color-text);
  border-bottom: solid 1px $color-gray-300;
  color: $color-gray-800;
  color: var(--color-text);
  @media (prefers-color-scheme:dark) {
    border-bottom-color: $color-gray-700;
  }
  &__row {
    height: 4rem;
  }
  &__section {
    padding: 0.5rem 0.75rem;
  }
  &__navigation-icon.material-icons {
    @media (min-width: $bp--large) {
      display: none;
    }
  }
  &__title {
    font-family: $sans-serif-novf;
    padding-left: 1rem;
    @supports (font-variation-settings: normal) {
      font-family: $sans-serif;
      font-weight: 725;
      font-stretch: 85%;
    }
    a {
      &:link,
      &:visited {
        --color-text-link-visited: var(--color-text-menu-link);
        text-decoration: none;
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
  
    }
  }
}

