@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  --mdc-theme-primary: #ffffff;
  --mdc-theme-on-primary: $color-gray;
  border-bottom: solid 1px $color-gray-lighter;
  color: $color-gray;
  &__row {
    height: 4rem;
  }
  &__navigation-icon.material-icons {
    @media (min-width: $bp--large) {
      display: none;
    }
  }
  &__title {
    font-family: $sans-serif-novf;
    @supports (font-variation-settings: normal) {
      font-family: $sans-serif;
      font-weight: 725;
    }
  }
}

